.callapse{
    background-color: black;
    font-family: 'Sunflower', sans-serif;
}

.container-fluid{
    padding:0;
}

.navbar-right{
    margin-right: 0;
}

.navbar-default{
    border:0;
}

.navbar-default .navbar-nav > li > a {
    color:white;
    text-decoration: none;
    font-size:20px;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #777; /*Sets the text hover color on navbar*/
}

.navbar-default{
    margin-bottom:0;
}

#login-box > *{
    margin-bottom:10px;
}


html { 
    background: url(/src/5.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }