

.callapse{
    background-color: black;
    font-family: 'Sunflower', sans-serif;
}

.container-fluid{
    padding:0;
}

.navbar-right{
    margin-right: 0;
}

.navbar-default{
    border:0;
}

.navbar-default .navbar-nav > li > a {
    color:white;
    text-decoration: none;
    font-size:20px;
    margin-bottom: 0;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #777; /*Sets the text hover color on navbar*/
}

.navbar-default{
    margin-bottom:0;
}
  

.login-box > *{
    margin-bottom:20px;
}


.jumbotron{
    background-color: rgba(255,255,255,0.5);
}

.login-box, .logbox,.log-container{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logbox{
    width:50%;
}

.mainbox{
    width: 30%;
}

.log-container{
    height:inherit;
    text-align: center;
}

body { 
    background: url(/src/5.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    float:hidden;
}


/* config of navbar breakpoint */
@media (max-width: 768px)  {
   .navbar-collapse {
       display:flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: flex-start;
   }

   .navbar-nav{
       margin:5px 0 5px 0;
   }
   .navbar-right{
        position: absolute;
        right:15px;
        display:inline-flex;
   }
}