<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text navbar-right">Made by <a href="#" class="navbar-link">@Zidru</a></p>
        </div>
    </nav>
</footer>