<header class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="callapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li role="presentation">
                    <a href="/">Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation">
                    <% if(!user) { %>
                        <a href="/login">Login</a>
                    <% }else{ %>
                        <a href="/logout">Logout</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </nav>
</header>



