<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ./components/head.ejs %>
    <title><%= title %></title>
</head>
<body>
    
    <% include ./components/links.ejs %>

    <!-- <% include ./components/footer.ejs %> -->

</body>
</html>