<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ./components/head.ejs %>
    <title><%= title %></title>
</head>
<body>
        <% include ./components/links.ejs %>

    <div class="container ">

    </div>
    <!-- <% include ./components/footer.ejs %> -->

</body>
</html>