<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ./components/head.ejs %>
    <title><%= title %></title>
</head>
<body>
    
    <% include ./components/links.ejs %>
    <div class="log-container" role="login">
        <div class="mainbox jumbotron content">
            <h3>Welcome!</h3><br>        
    </div>
    <!-- <% include ./components/footer.ejs %> -->
</body>
</html>