<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ./components/head.ejs %>
    <title><%= title %></title>
</head>
<body>
    <% include ./components/links.ejs %>

    <div class="log-container" role="login">
        <div class="logbox jumbotron content">
            <h3>Login for the Service!</h3><br>
            <form class="login-box" method="post" action="/login">
                <div class="input-group">
                    <input type="text" name="mail" class="form-control" placeholder="Recipient's Email" aria-describedby="mail-addon1">
                </div>        
                <div class="input-group">
                    <input type="text" name="password" class="form-control" placeholder="Recipient's password" aria-describedby="pass-addon2">
                </div>
                <button type="submit" name="submit" class="btn btn-primary ">Login</button>

                <div>Don't you have account? <a href="signup">Sign up now!</a></div>
                <% if(message.length > 0) {%>
                <div class= "alert alert-danger"><%= message %></div>
                <% } %>
                </div>
            </form>
            
    </div>
</body>
</html>