<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ./components/head.ejs %>
    <title><%= title %></title>
</head>
<body>
    <% include ./components/links.ejs %>

    <div class="log-container" role="signup">
        <div class="logbox jumbotron content">
            <form class="login-box" method="post" action="/signup">
                <div class="input-group">
                    <h6>ID</h6>
                    <input type="text" name="mail" class="form-control" placeholder="Recipient's Email" aria-describedby="mail-addon1">
                </div>        
                <div class="input-group">
                    <h6>PASSWORD</h6>
                    <input type="text" name="password" class="form-control" placeholder="Recipient's password" aria-describedby="pass-addon2">
                </div>
                <div class="input-group">
                    <h6>NAME</h6>
                    <input type="text" name="name" class="form-control" placeholder="Recipient's name" aria-describedby="pass-addon2">
                </div>
                <button type="submit" name="submit" class="btn btn-primary ">SignUp</button>
            </form>
            <% if(message.length>0){ %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
        </div>
    </div>
</body>
</html>